* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #ededed;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

main article {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    height: 1000px;
}

/* Enlaces del nav */

.menu {
    background: #232f3e;
    padding: 5px 0;
    margin-bottom: 20px;
}

.menu .container-botones-menu {
    display: flex;
    justify-content: space-between;
    /* comentar esta parte */
    display: none;

}

.menu .container-botones-menu button {

    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    background: none;
}

.menu .container-botones-menu button:hover {
    border: 1px solid rgba(255, 255, 255, .4);
}

.menu .container-botones-menu .btn-menu-cerrar {
    display: none;
}

.menu .container-botones-menu .btn-menu-cerrar.activo {
    display: inline-block;
}

.menu .container-enlaces-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu .btn-departamentos {
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    cursor: default;
}

.menu .btn-departamentos i {
    margin-left: 20px;
    position: relative;
    bottom: 3px;
}

.menu .btn-departamentos:hover {
    border: 1px solid rgba(255, 255, 255, .4);
}

.menu .btn-departamentos span {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.menu .container-enlaces-nav .enlaces a {
    color: #ccc;
    border: solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 14px;
}

.menu .container-enlaces-nav .enlaces a:hover {
    border: 1px solid rgba(255, 255, 255, .4);
}

/* ------------------------------ */
/* Grid */
/* ------------------------------ */
.container-grid {
    position: relative;

}

.grid {
    width: 100%;
    display: none;
    /* background: #ccc; */
    position: absolute;
    top: 5px;
    z-index: 1000;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.active {
    display: grid;
}

.grid::before {
    content: "";
    display: block;
    background: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    left: 65px;
}

.grid>div {
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .10);
}


/* ------------------------------ */
/* categorias */
/* ------------------------------ */
.grid .btn-regresar {
    background: #232f3e;
    color: #fff;
    border: none;
    padding: 10px;
    background-repeat: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.grid .btn-regresar {
    margin-right: 10px;
}

.grid .categorias {
    grid-area: categorias;
    padding-top: 10px;
    min-height: 300px;
    overflow: auto;
}

.grid .categorias .subtitulo {
    display: none;
}

.grid .categorias a {
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.grid .categorias a i {
    display: none;
}

.grid .categorias a:hover {
    color: #E47911;
    font-weight: bold;
}

.grid .categorias a:hover i {
    display: inline-block;
}

.grid .container-subcategorias {
    grid-area: subcategorias;
}

.grid .subcategoria {
    display: none;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}


.grid .subcategoria.active {
    display: grid;
}

.grid .subcategoria img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.grid .enlaces-subcategoria {
    padding-top: 10px;
    height: 100%;
    max-width: 300px;
    overflow: auto;
}

.grid .enlaces-subcategoria a {
    color: #000;
    display: block;
    font-size: 14px;
    padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
    color: #e47911;
}

.grid .subtitulo {
    font-size: 18px;
    font-weight: normal;
    color: #e47911;
    padding: 10px 20px;
}

.grid .banner-subcategoria a {
    display: block;
    width: 100%;

}

.grid .galeria-subcategoria {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.grid .galeria-subcategoria a {
    width: 50%;
    height: 50%;

}



/* mediaqueries */

@media screen and (max-width: 1000px) {
    .menu .container-enlaces-nav {
        padding: 0 10px;
    }

    .menu .container {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {

        .menu .container {
            width: 90%;
        }

        .menu .container-botones-menu {
            display: flex;
        }

        .menu .container-enlaces-nav {
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            left: 0;
            background: #232f3f;
            height: 100vh;
            width: 80%;
            z-index: 2000;
            transition: .3s ease all;
            /* para sacarlo completaente de pantalla */
            transform: translate(-100%);
        }

        .menu .container-enlaces-nav.active {
            transform: translate(-0%);
        }

        .menu .btn-departamentos {
            width: 100%;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }

        .menu .btn-departamentos i {
            position: static;
            margin-left: 20px;
            transform: rotate(-90deg);
        }

        .menu .enlaces {
            width: 100%;
        }

        .menu .enlaces a {
            display: block;
            max-width: 10px 0;
            padding: 10px;
        }

        .grid {
            display: grid;
            transition: .3s ease all;
            transform: translateX(-100%);
            z-index: 3000;
            width: 80%;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            grid-template-areas: "categorias categorias categorias categorias";
        }

        .grid.active {
            transform: translateX(0%);
        }

        .grid::before {
            display: none;
        }

        .grid .btn-regresar {
            display: inline-block;
        }

        .grid .categorias .subtitulo {
            display: block;
        }

        .grid .container-subcategorias {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            transition: .3s ease all;
            /* esta parte  */
            transform: translateX(-100%);
            overflow: auto;
        }

        .grid .container-subcategorias.active {
            transform: translateX(0%);
        }
        

        .grid .container-subcategorias .subcategoria {
            grid-template-columns: 1fr;
        } 

        .grid .container-subcategorias .banner-subcategoria {
            width: 100%;
            min-height: 250px;
            max-height: 350px;
        }

        .grid .container-subcategorias .enlaces-subcategoria{
            min-height: 50vh;
            overflow: auto;
        }

        .grid .container-subcategorias .galeria-subcategoria a {
            width: 25%;
            height: 100%;
        } 



}